body {
  padding: 0;
  margin: 0; }

.wrapper {
  position: relative;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 1; }
  .wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: .4;
    z-index: -1; }

.link {
  padding: 10px;
  border: 1px solid black;
  font: 30px Roboto;
  color: black;
  z-index: 2;
  text-decoration: none; }

.size {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .size-button {
    width: 60px;
    height: 60px;
    margin: 30px;
    padding: 30px;
    border-radius: 5000%;
    line-height: 60px;
    font-size: 60px;
    text-align: center; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2; }
  .menu-button {
    margin: 0 10px; }

.active {
  background-color: white; }

.product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -40px;
  z-index: 1; }
  .product-image {
    position: absolute; }
  .product .hide {
    display: none; }

.small {
  transform: scale(0.7); }

.medium {
  transform: scale(1); }

.large {
  transform: scale(1.3); }

.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 100px;
  top: 0; }
  .cart-items {
    background-color: white; }
  .cart button {
    width: 100%; }
  .cart h4 {
    padding: 0 40px;
    font: 40px Roboto; }
  .cart P {
    font: 20px Roboto; }
